@model IEnumerable<Developer.Entity.ToDoItem>

@{
    ViewBag.Title = "List of ToDo Items";
    Layout = "~/Views/_Layout.cshtml";
}




<div class="panel panel-info">
    <div class="panel-heading">
        <p>
            <h2>Todo List</h2>
            @Html.ActionLink("Create A New ToDo Item", "Create", "ToDoItems", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit Item", "Edit", "ToDoItems", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Edit Tasks", "Details", "ToDoItems", new { id = item.Id }, new { @class = "btn btn-default" })
                        <input type="button" onClick="Delete(@item.Id)" value="Delete" class="btn btn-default" id="DeleteBtn" />
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


<script type='text/javascript'>

    function Delete(id) {
        if (confirm("Are you sure to continue?")) {

            $.ajax({
                url: '/ToDoItems/Delete/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#' + id).remove();
                }
            });
        }
        else {
            return false;
        }
    }


</script>


